@model Alumno

@{
    ViewData["Title"] = "Creación de Alumno";
    Layout= "Simple";
}

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre"></label>
    </div>
    <div>
        <label asp-for="Curso"></label>
        @Html.DropDownListFor(m => m.CursoId, new SelectList(@ViewBag.Cursos, "Id", "Nombre"), "Seleccione el Curso...")
    </div>
    <input type="submit" />
</form>