@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    Layout= "Simple"; //Va a buscar en Shared Simple.cshtml
}

<h1>Asignaturas</h1>
<partial name="_ObjetosEscuela"/>



